doctype html
html(lang="en")
	head
		title
	body
		h1 The future homepage
		p Assumenda aliquip health goth, accusamus eu fanny pack yr hoodie fap mollit tote bag wolf fixie aliqua. Letterpress ugh officia, locavore placeat Blue Bottle culpa dreamcatcher Intelligentsia small batch quinoa lumbersexual stumptown nesciunt farm-to-table. Roof party cold-pressed accusamus aesthetic quinoa, Blue Bottle try-hard. Fugiat cupidatat meggings letterpress. Salvia distillery stumptown mlkshk pour-over, culpa nihil sustainable non Marfa. Mollit twee street art heirloom, raw denim bitters flexitarian VHS. Dolore flexitarian eiusmod VHS reprehenderit, American Apparel before they sold out kogi chillwave occupy tofu bicycle rights deep v hella.